/*.menu-bar {*/
/*-fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);*/
/*-fx-background-insets: 0, 0 0 1 0;*/
/*}*/

/*.menu-bar .menu .label {*/
/*-fx-text-fill: #2d3e4c;*/
/*}*/
.root {
    -fx-background-color: #fafafa;
}

.header {
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #111;
}

.anchor {
    -fx-opacity: 0.5;
}

.anchor ImageView {
    -fx-opacity: 1;
}

.anchor:hover {
    -fx-opacity: 1;
}